/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary-dark-blue: #0f162e;
    --color-primary-pink: #CA59FF;
    --color-primary-blue: #6C7CFF;
    --color-primary-light-blue: #2AFFFF;
    --color-primary-yellow: #FFF629;
    --color-white: #FFFFFF;
    --color-gray: #272D42;
    --color-black: #000000;
}