
.header-3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: medium;
}
.body-1 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: $tablet-size) {
    .header-1 {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.2%;
        font-weight: medium;
    }
}
@media (max-width: $tablet-size) {
    .header-2 {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.2%;
        font-weight: medium;
    }
    .body-2 {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}